$primary: #175676;
$secondary: #BA324F;
$info: #4BA3C3;

@import "~bootstrap/scss/bootstrap";

html {
  background-color: 	#F0F0F0;
}

a:hover {
  text-decoration: none;
}

.card {
  box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.1);
  height: 100%;
}

.fs-7 {
  font-size: .8rem;
}

.user-list tbody tr:last-child td {
  border-bottom: none;
}

.user-picture {
  position: relative;
}

.card-img-overlay {
  z-index: 10;
}

.user-picture::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}